<a href="https://colab.research.google.com/github/AzlinRusnan/Python-Coding/blob/main/Azlin_Learn_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Write a program to create a function that takes two arguments, name and age, and print their value.
#Use the def keyword with the function name to define a function.
#Next, take two parameters
#Print them using the print() function
#Call function by passing name and age.

def azlin(name,age):
    print(name,age)

azlin('rusnan',32)

rusnan 32

In [8]:
def calculation(a,b):
    sum = a + b
    minus = a - b
    return sum, minus

res = calculation(40,10)
print(res)

(50, 30)

In [12]:
#Write a program to create a function show_employee() using the following conditions.

#It should accept the employeeâ€™s name and salary and display both.
#If the salary is missing in the function call then assign default value 9000 to salary

#HINT
#Default arguments take the default value during the function call if we do not pass them.
#We can assign a default value to an argument in function definition using the = assignment operator.

def show_employee(name, salary=9000):
    print("Name: " + name + " Salary: " + str(salary))

show_employee("Ben",12000)
show_employee("Jessa")

Name: Ben Salary: 12000
Name: Jessa Salary: 9000

In [28]:
#Assign a different name to function and call it through the new name

def display_student(name, age):
    print(name, age)
display_student("Emma", 26)

show_student = display_student
show_student("Azlin", 26)

Emma 26
Azlin 26

In [32]:
#Find the largest item from a given list
x = [4, 6, 8, 24, 12, 2]

print(max(x))

24

In [35]:
#Generate a Python list of all the even numbers between 4 to 30

print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]