<a href="https://colab.research.google.com/github/AzlinRusnan/Python-Coding/blob/main/Azlin_Learn_Function_and_String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a program to create a function that takes two arguments, name and age, and print their value.
#Use the def keyword with the function name to define a function.
#Next, take two parameters
#Print them using the print() function
#Call function by passing name and age.

def azlin(name,age):
    print(name,age)

azlin('rusnan',32)

rusnan 32

In [ ]:
def calculation(a,b):
    sum = a + b
    minus = a - b
    return sum, minus

res = calculation(40,10)
print(res)

(50, 30)

In [ ]:
#Write a program to create a function show_employee() using the following conditions.

#It should accept the employeeâ€™s name and salary and display both.
#If the salary is missing in the function call then assign default value 9000 to salary

#HINT
#Default arguments take the default value during the function call if we do not pass them.
#We can assign a default value to an argument in function definition using the = assignment operator.

def show_employee(name, salary=9000):
    print("Name: " + name + " Salary: " + str(salary))

show_employee("Ben",12000)
show_employee("Jessa")

Name: Ben Salary: 12000
Name: Jessa Salary: 9000

In [ ]:
#Assign a different name to function and call it through the new name

def display_student(name, age):
    print(name, age)
display_student("Emma", 26)

show_student = display_student
show_student("Azlin", 26)

Emma 26
Azlin 26

In [ ]:
#Find the largest item from a given list
x = [4, 6, 8, 24, 12, 2]

print(max(x))

24

In [ ]:
#Generate a Python list of all the even numbers between 4 to 30

print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
str1 = "James"

print(str1[0:5:2])

Jms

In [ ]:
#Write a program to create a new string made of the middle three characters of an input string.

str1 = "JhonDipPeta"

print(str1[4:7:1])

str2 = "JaSonAy"
print(str2[2:5:1])

Dip
Son

In [ ]:
# Append new string in the middle of a given string
s1 = "Ault"
s2 = "Kelly"

print(s1+s2)

AultKelly

In [3]:
#Count all letters, digits, and special symbols from a given string

def find_digits_chars_symbols(sample_str):
    char_count = 0
    digit_count = 0
    symbol_count = 0

    for char in sample_str:
        if char.isalpha():
            char_count += 1
        elif char.isdigit():
            digit_count += 1
        else:
            symbol_count += 1

    print("Chars = " + str(char_count) + " Digits = " + str(digit_count), " Symbol = " + str(symbol_count))

sample_str = "P@yn2at&#i5ve"
print("total counts of chars, Digits, and symbols \n")
find_digits_chars_symbols(sample_str)

total counts of chars, Digits, and symbols

Chars = 8 Digits = 2  Symbol = 3

In [25]:
#Create a list by picking an odd-index items from the first list and even index items from the second
#Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]

print("Element at odd-index positions from list one")
print(str(l1[1::2]))
print("Element at even-index positions from list two")
print(str(l2[0::2]))

final_third = l1[1::2] + l2[0::2]

print("Printing Final third list")
print(final_third)

#or

odd_index = l1[1::2]
print("Element at odd-index positions from list one")
print(odd_index)

even_index = l2[0::2]
print("Element at even-index positions from list two")
print(even_index)

print("Printing Final third list")
print(odd_index + even_index)

Element at odd-index positions from list one
[6, 12, 18]
Element at even-index positions from list two
[4, 12, 20, 28]
Printing Final third list
[6, 12, 18, 4, 12, 20, 28]
Element at odd-index positions from list one
[6, 12, 18]
Element at even-index positions from list two
[4, 12, 20, 28]
Printing Final third list
[6, 12, 18, 4, 12, 20, 28]

In [40]:
#Remove and add item in a list
#Write a program to remove the item present at index 4 and add it to the 2nd position and at the end of the list.

list1 = [34, 54, 67, 89, 11, 43, 94]

remove_at_index4 = list1.pop(4)

print("List after removing element at index 4 " + str(list1))

insert_at_index2 = list1.insert(2,remove_at_index4)
print("List after adding element at index 2 " + str(list1))

adding_at_lastlist = list1.append(remove_at_index4)
print("List after adding element at last" + str(list1))

List after removing element at index 4 [34, 54, 67, 89, 43, 94]
List after adding element at index 2 [34, 54, 11, 67, 89, 43, 94]
List after adding element at last[34, 54, 11, 67, 89, 43, 94, 11]