<a href="https://colab.research.google.com/github/AzlinRusnan/Python-Coding/blob/main/Azlin_Learn_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

# For example, if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)

number = int(input("Enter number : "))
sum = 0

for i in range(1, number+1,1):
    sum += i #sum = sum + i

print("Sum is: ",sum)


#range(start, stop, step) #if enter number=10, number+1 is 11
#The loop will iterate over the numbers 1, 2,3,4,5,6,7,8,9,10 (up to, but not including 11), and the sum will include all these numbers.

Enter number : 10
Sum is:  55

In [ ]:
# Write a program to print multiplication table of a given number

for i in range(1,11,1):
    p = i*2
    print(p)

2
4
6
8
10
12
14
16
18
20

In [ ]:
#Write a program to display only those numbers from a list that satisfy the following conditions

#The number must be divisible by five
#If the number is greater than 150, then skip it and move to the next number
#If the number is greater than 500, then stop the loop

numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
    if i > 500:
        break
    if i > 150:
        continue
    if i % 5 == 0:
        print(i)

75
150
145

In [ ]:
#print pattern

n = 5

for i in range (n,0,-1):
    for j in range(i,0,-1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
#Print list in reverse order using a loop
list1 = [10, 20, 30, 40, 50]

for i in range (len(list1)-1,-1,-1):
    print(list1[i])

#Explanation:

#len(list1) - 1: The starting index is set to the last index of the list.

#-1: The ending index is set to -1 (exclusive), so the loop stops before reaching the first element.

#-1: The step size is set to -1, indicating that the loop should decrement the index in each iteration.

#This loop will iterate through the indices of the list in reverse order and print the elements accordingly.

50
40
30
20
10

In [10]:
#Display numbers from -10 to -1 using for loop


for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [15]:
# Use else block to display a message “Done” after successful execution of for loop

for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [17]:
# Write a program to display all prime numbers within a range

start = 25
end = 50
print("Prime numbers between " + str(start) + " and " + str(end) + "are: ")

for num in range(start, end+1):
    if num > 1:
        for i in range(2, num):
            if(num % i) == 0:
                break
        else:
            print(num)

Prime numbers between 25 and 50are:
29
31
37
41
43
47

In [44]:
# Use a loop to display elements from a given list present at odd index positions

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in my_list[1::2]:
    print(i, end=' ')
#print(my_list[1:10:2])

20 40 60 80 100

In [46]:
#Calculate the cube of all numbers from 1 to a given number
#Write a program to rint the cube of all numbers from 1 to a given number

input_number = 6

for i in range(1, input_number + 1):
    print("Current number is: " + str(i) + " and the cube is " + str(i*i*i))

Current number is: 1 and the cube is 1
Current number is: 2 and the cube is 8
Current number is: 3 and the cube is 27
Current number is: 4 and the cube is 64
Current number is: 5 and the cube is 125
Current number is: 6 and the cube is 216