<a href="https://colab.research.google.com/github/AzlinRusnan/Python-Coding/blob/main/Azlin_Learn_Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello Everyone!")
print('Hello Everyone!')

Hello Everyone!
Hello Everyone!

In [5]:
#range
x = range(10)

print(x)

range(0, 10)

In [8]:
#For loop
for value in x:
    print(value*2)

0
2
4
6
8
10
12
14
16
18

In [10]:
i = range(10)
for value in i:
    print(value ** 5)

0
1
32
243
1024
3125
7776
16807
32768
59049

In [17]:
#Multiplication
#suppose you have rm100, which you can invest with a 10% return each year. After one year, its 100x1.1 = 110 dollars, and after two years it's 100x1.1x1.1=121
#write a code to calculate how much money you end up with after 7 years

#print(100*1.1**7)
#194.87171000000012

initial_amount = 100
rate = 0.1
years = 7

amount = initial_amount
for year in range(years):
    amount = amount * (1+rate)
    #print(amount)
print(amount)

194.87171000000015

In [23]:
height = 1.75
weight = 67.3

#BMI CALCULATION
BMI = weight/(height**2)
print(BMI)
type(BMI)

21.975510204081633

float

In [26]:
#python as calculator
savings = 100
growth_multiplier = 1.1
result = savings*growth_multiplier**7
result

194.87171000000012

In [29]:
savings = 100
growth_multiplier = 1.1
#assign product above to year1
year1 = savings*growth_multiplier
print(year1)
type(year1)

110.00000000000001

float

In [32]:
#the following has error, fix it
savings = 100
result = savings*growth_multiplier**7

print("I started with $" + (savings) + " and now have $ " + (result)

SyntaxError: ignored

In [36]:
savings = 100
result = savings*growth_multiplier**7

print("I started with $" + str(savings) + " and now have $ " + str(result))

I started with $100 and now have $ 194.87171000000012

In [40]:
pi_string = "3.1415926"
type(pi_string)

#convert to float
float(pi_string)

3.1415926

In [77]:
#Python List
fam = ['Liz', 1.73,'emma',1.68,'mom',1.71,'dad',1.89]
fam[3]

#find emma's height using negative
fam[-5]

#change dad's height
fam[-1] = 1.86
fam

#change of liz's details to lisa height 1.74
fam[0:2] = "lisa", 1.74
fam

['lisa', 1.74, 'emma', 1.68, 'mom', 1.71, 'dad', 1.86]

In [43]:
# a list in a list
fam2 = [['Liz', 1.73],
        ['emma',1.68],
        ['mom',1.71],
        ['dad',1.89]]
#find dad,1.89
fam2[3]

['dad', 1.89]

In [45]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

areas = [hall,kit,liv,bed,bath]
areas

[11.25, 18.0, 20.0, 10.75, 9.5]

In [49]:
#adding name to a list
areas = ["hallway",hall,"kitchen",kit,"living room", liv, "bedroom",bed,"bathroom",bath]
areas
print(areas)
#a list in a list
house = [["hallway",hall],["kitchen",kit],["living room", liv],["bedroom",bed],["bathroom",bath]]
type(house)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

list

In [51]:
areas = ['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]
#sum of kitchen and bedroom area: eat_sleep_area
eat_sleep_area = areas[3] + areas[7]
eat_sleep_area

28.75

In [60]:
#Use slicing to create a list
#use slicing to create downstairs: first 6 elements of areas
downstairs = areas[:6]
print(downstairs)

print("\n")
#use slicing to create upstairs: last 4 elements of areas
upstairs = areas[-4:]
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]


['bedroom', 10.75, 'bathroom', 9.5]

In [68]:
# subsetting lists of lists
#given the following list
x = [["a","b","c"],
     ["d","e","f"],
     ["g","h","i"]]

#find 'g'
x[2][0]

#find 'g''h'
x[2][0:2]

['g', 'h']

In [73]:
house = [["hallway",11.25],
         ["kitchen",18.0],
         ["living room", 20.0],
         ["bedroom",10.75],
         ["bathroom",9.5]]
#find area of bathroom
house[4][1]
house[-1][1]

9.5

In [79]:
# add poolhouse,24.5 to new_area
areas2 = ['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]
new_area = areas2 + ['poolhouse',24.5]
new_area

['hallway',
 11.25,
 'kitchen',
 18.0,
 'living room',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 9.5,
 'poolhouse',
 24.5]